* {
  box-sizing: border-box;
}

body {
  background-color: $colorBackground;
  font-family: $openSans;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

