@mixin tablet {
  @media screen and (min-width: 737px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 981px) {
    @content;
  }
}

@mixin letFlex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@keyframes show {
  from {
    width: 0;
    font-size: 0;
  }
  to {
    width: 200px;
    font-size: 1em;
  }
}