.about-wrapper {
  width: 100%;
  background-color: white;
  padding: 15px;
  h2 {
    font-size: 13pt;
    font-weight: 800;
    color: $colorText;
    margin-bottom: 1em;
  }
  p {
    color: #696969;
    font-weight: 100;
    font-size: 0.9em;
  }
  strong {
    font-weight: 800;
  }
}

.txt-part-one {

}