.banner {
  @include letFlex(column, center, center);
  .banner-wrapper {
    background-color: white;
    width: 100%;
    padding: 15px;
    border-radius: 0.6em;
    @include desktop {
      @include letFlex(row, center, center);
      padding: 3.5em 4em;
    }
  }
  h2 {
    text-align: center;
    font-size: 1.9em;
    color: $colorText;
    font-weight: 800;
    margin: 0.75em 0 0.5em 0;
    @include tablet {
      font-size: 3.5em;
    }
    @include desktop {
      font-size: 4.2em;
      text-align: left;
    }
  }
  p {
    font-size: 1.4em;
    color: rgb(105, 105, 105);
    font-weight: 300;
    text-align: center;
    @include tablet {
      font-size: 2.75em;
      line-height: 1.25em;
    }
    @include desktop {
      font-size: 3.2em;
      text-align: left;
      width: 70%;
    }
  }
}

