.button-container {
  @include letFlex(column, center, center);
}

.btn {
  @include letFlex(row, center, center);
  gap: 20px;
  width: 100%;
  padding: 0.65em 0;
  font-size: 1.25em;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 800;
  @include desktop {
    width: 350px;
    padding: 0.5em 2em;
  }
  .right-side {
    display: none;
    @include desktop {
      display: block;
    }
  }
  .left-side-icon {
    @include desktop {
      display: none;
    }
  }
  .fa-solid {
    font-size: 1.2em;
  }
}

.button-top {
  margin: 1em 0;
  background-color: rgb(0, 144, 197);
  color: white;
  @include tablet {
    font-size: 2.25em;
  }
}

.button-bottom {
  background-color: rgba(0, 0, 0, 0.05) ;
  color: $colorText;
  @include tablet {
    font-size: 2.25em;
  }
}

.continue-reading {
  background-color: #0090c5;
  color: white !important;
  margin-bottom: 2em;
  @include tablet {
    font-size: 1.8em;
  }
  @include desktop {
    font-size: 1.2em !important;
  }
}

.more-btn {
  background-color: #0090c5;
  color: white !important;
  margin-top: 1em;
  @include tablet {
    font-size: 1.8em;
  }
  @include desktop {
    font-size: 1.2em !important;
    width: 150px !important;
  }
}