header {
  @include letFlex(row, center, center);
  @include desktop {
    @include letFlex(row, space-between, center);
  }
  .logo {
    @include letFlex(column, center, center);
    @include desktop {
      flex-direction: row;
      gap: 0.8em;
      margin: 3em 0;
    }
  }
  h1 {
    background: #ff4486;
    color: #fff;
    border-radius: 6px;
    font-family: 'Oleo Script', serif;
    font-weight: 400;
    padding: 0.15em 0.4em 0.15em 0.4em;
    font-size: 2em;
    letter-spacing: 0.05em;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1.75em;
    margin-bottom: 0.5em;
    @include tablet {
      font-size: 2.8em;
      padding: 0.25em 0.6em 0.35em 0.7em;
    }
    @include desktop {
      margin: 0;
    }
  }
  span {
    margin-bottom: 1.75em;
    font-weight: 800;
    font-size: 0.9em;
    color: #696969;
    @include tablet {
      margin-bottom: 2.4em;
    }
    @include desktop {
      margin-bottom: 0;
    }
  }
}

nav {
  .menu {
    padding: $default-padding;
    position: fixed;
    top: 0;
    left: -230px;
    width: 230px;
    height: 100%;
    background-color: white;
    border-right: 1px solid gray;
    transition: 0.5s;
    @include desktop {
      position: static;
      background-color: transparent;
      border-right: none;
      @include letFlex(row, space-between, center);
      width: 100%;
    }
    .nav-welcome-button {
      border-top: none;
    }
    .nav-hide-button {
      display: none;
      @include desktop {
        display: block;
      }
    }
  }
  #menu {
    display: none;
  }
  #menu:checked ~ .menu {
    left: 0;
  }
  #menu:checked ~ .hamburger {
    left: 240px;
  }
  li {
    border-top: 1px solid gray;
    font-size: 0.9em;
    @include desktop {
      border-top: none;
    }
    a {
      text-decoration: none;
      color: $colorText;
      font-size: 1.2em;
      font-weight: 800;
      padding: 0.5em 1em;
      border-radius: 1em;
      &:hover {
        @include desktop {
          background-color: white;
        }
      }
    }
  }
}

.hamburger {
  border-radius: 0.5em;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 46px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  @include letFlex(row, center, center);
  transition: 0.5s;
  @include desktop {
    display: none;
  }
  .fa-bars {
    position: absolute;
    font-weight: 600;
    color: white;
    font-size: 24px;
  }
}

.menu {
  position: relative;
  .dropdown-menu-element {
    &:focus ~ .dropdown-menu {
      @include desktop {
        display: block;
      }
    }
    &:hover ~ .dropdown-menu {
      @include desktop {
        display: block;
      }
    }
  }
  .dropdown-menu {
    @include desktop {
      display: none;
      position: absolute;
      top: 130px;
      background-color: white;
      border-radius: 8px;
      transition: 0.5s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    &::before {
      @include desktop {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: white;
        top: -6px;
        left: 16px;
        transform: rotate(45deg);
      }
    }
    @include desktop {
      li {
        @include desktop {
          border-bottom: 1px solid gray;
        }
      }
    }
    a {
      @include desktop {
        border-radius: 0;
        padding: 0 1em 0 1em;
        background-color: transparent;
        z-index: 100;
        line-height: 36px;
        font-weight: 100;
      }
    }
  }
  .dropdown-submenu {
    @include desktop {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 50%;
      left: 175px;
      background-color: white;
      width: 100%;
      border-radius: 8px;
      display: none;
    }
  }
}

.dropdown-submenu-element:hover ~ .dropdown-submenu {
  @include desktop {
    display: block;
  }
}

.dropdown-submenu-element:focus ~ .dropdown-submenu {
  @include desktop {
    display: block;
  }
}



