header {
  @include letFlex(row, center, center);
  @include desktop {
    @include letFlex(row, space-between, center);
  }
  .logo {
    @include letFlex(column, center, center);
    @include desktop {
      flex-direction: row;
      gap: 0.8em;
      margin: 3em 0;
    }
  }
  h1 {
    background: #ff4486;
    color: #fff;
    border-radius: 6px;
    font-family: 'Oleo Script', serif;
    font-weight: 400;
    padding: 0.15em 0.4em 0.15em 0.4em;
    font-size: 2em;
    letter-spacing: 0.05em;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1.75em;
    margin-bottom: 0.5em;
    @include tablet {
      font-size: 2.8em;
      padding: 0.25em 0.6em 0.35em 0.7em;
    }
    @include desktop {
      margin: 0;
    }
  }
  span {
    margin-bottom: 1.75em;
    font-weight: 800;
    font-size: 0.9em;
    color: #696969;
    @include tablet {
      margin-bottom: 2.4em;
    }
    @include desktop {
      margin-bottom: 0;
    }
  }
}

nav {
  .menu {
    padding: $default-padding;
    position: fixed;
    top: 0;
    left: -230px;
    width: 230px;
    height: 100%;
    background-color: white;
    border-right: 1px solid gray;
    transition: 0.5s;
    @include desktop {
      position: static;
      background-color: transparent;
      border-right: none;
      @include letFlex(row, space-between, center);
      width: 100%;
    }
    .nav-welcome-button {
      border-top: none;
    }
    .nav-hide-button {
      display: none;
      @include desktop {
        display: block;
      }
    }
  }
  #menu {
    display: none;
  }
  #menu:checked ~ .menu {
    left: 0;
  }
  #menu:checked ~ .hamburger {
    left: 240px;
  }
  li {
    padding: 1.2em 1em;
    border-top: 1px solid gray;
    font-size: 0.9em;
    @include desktop {
      border-top: none;
    }
    a {
      text-decoration: none;
    }
  }
}

.hamburger {
  border-radius: 0.5em;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 46px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  @include letFlex(row, center, center);
  transition: 0.5s;
  @include desktop {
    display: none;
  }
  .fa-bars {
    position: absolute;
    font-weight: 600;
    color: white;
    font-size: 24px;
  }
}

.menu {
  .dropdown-menu {
    @include desktop {
      display: none;
      .dropdown-submenu {
        display: none;
      }
    }
  }
}