h1 {
  background-color: $colorLogo;
  font-family: "Oleo Script", serif;
  font-weight: 300;
  border-radius: 6px;
  display: inline-block;
  font-size: 2.4em;
  padding: 0.1em 0.275em;
  margin-top: 1.4em;
  letter-spacing: 0.08em;
  @include tablet {
    padding: 0.25em 0.2em 0.25em 0.2em;
    font-size: 3.25em;
  }
  @include desktop {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.header {
  @include letFlex(row, center, center);
  @include desktop {
    justify-content: space-between;
    width: 100%;
  }
  .logo {
    @include letFlex(column, center, center);
    @include desktop {
      flex-direction: row;
      gap: 1.5em;
    }
    span {
      font-size: 0.8em;
      color: $colorText;
      margin-top: 1em;
      margin-bottom: 2em;
      font-weight: 800;
      @include desktop {
        margin: 0;
      }
    }
  }
  .hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    @include letFlex(row, center, center);
    border-radius: 0.4em;
    transition: 0.5s;
    @include desktop {
      display: none;
    }
  }
  .fa-bars {
    font-weight: 600;
    font-size: 1.5em;
    color: white;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: white;
  border-right: 1px solid gray;
  transition: 0.5s;
  font-weight: 800;
  padding: 0 8px;
  overflow: auto;
  @include desktop {
    position: static;
    @include letFlex(row, space-around, center);
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    border-right: none;
  }
  .dropdown-menu {
    @include desktop {
      display: none;
    }
  }
  li {
    border-top: 1px solid gray;
    @include desktop {
      border: 0;
      padding: 10px 20px !important;
    }
    &:first-child {
      padding: 1.3em 0;
    }
    li {
      padding: 1.3em 0;
      a {
        margin-left: 10px;
      }
    }
    &:nth-of-type(1n) {
      padding: 1.3em 0;
    }
    a {
      text-decoration: none;
      color: $colorText;
    }
  }
}

#menu {
  display: none;
}

#menu {
  &:checked ~ .menu {
    left: 0;
  }
  &:checked ~ .hamburger {
    left: 310px;
  }
}


